body {
  margin: 0;
  height: 100;
  background-color: rgb(76, 95, 215); 
  color:white;
} 

#title {
  color: white;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 4.5%;
  font-family: Impact, Charcoal, sans-serif;
  font-style: italic;
  font-variant: small-caps;
  font-weight: 400;
  font-size: 30px;
}
h1{
  color: white;
  text-align: center;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 45px;
  letter-spacing: 2px;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
  text-transform: capitalize;
}
h2{
    color: white;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 35px;
  text-decoration: none;
  font-style: normal;
  font-variant: small-caps;
}
#contact{
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      margin-left: 25%;
      margin-right:25%;
}
#contact input{
  width: 50%;
  padding: 15px 20px;
  border-radius: 6px;
}
button{
  padding: 15px 20px;
  border-radius: 6px;  
  background-color: #ff9900;
  border:none;
  color:white;
}
#contact p{
      font-size: 13px;
      color: white;
      text-align: center;
      margin-left: 10%;
      margin-right:10%;
      padding-bottom: 6%;
}
img{     
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  width:85%;
  height:450px;
  padding-bottom: 7%;
}
#item{
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 22%;  
}
#item ul li{
  color: white;
  float: left;
  width: 33.33%;  
  font-family: "Arial Black", Gadget, sans-serif;
}
hr{ 
  margin-right: 20%;
  margin-left: 20%;  
  height: 1px;
  color: white;
  background-color: white;
  border: none;
}

#sponsored{
  text-align: center;
  color: white;
}
#quote{
  text-align: center;
}

#quote button{
    padding: 15px 20px;
    border-radius: 6px;
}
#items{
  margin-bottom: 10%;
}
i{
  color: #ffcc00;
}
#autor{
  margin-bottom: 6%;
}
#last{
  margin-bottom: 6%;
}
footer {
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}
.footer-final p {
    display: inline-block; /* to make them inline; aligned vertically in their baseline by defaul */
    vertical-align: top; /* to fix the alignment issue */
}
#footer-end-right{
  padding-top: 20px;
  margin-right: 5%;
  float: right;
}
.nav{
    top:0;
    display: inline-block; 
    vertical-align: top; 
}
nav ul{
  margin-right: 6%;
  color:lightgrey;
}
nav ul ol{
   border-style: solid;
   border-color:#ff9900;
}
#navbar-right{
  padding-left:3%;
  padding-right:3%;
  padding-top:4px;
  padding-bottom:4px;
  margin-right: 1%;
  float: right;
  border-radius: 8px;
}
#navbar-left{
  padding-left:3%;
  padding-right:3%;
  padding-top:4px;
  padding-bottom:4px;
  margin-right: 1%;
  float: left;
  border-radius: 8px;
}
a{
   color:lightgrey;
   text-decoration: none; 
   background-color: none;
}
input, select {
  width: 100%;
}

.navbar{
  font-size: 1.6em;
  width: 100%;
  padding: 16px;
  color: white;
}
.sidebar {
  background-color: #19222a;
}

#sidebar-wrapper {
  font-weight: 400;
  font-size: 1.2em;
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  width: 100%;
  display:block;
  font-size: 1.2rem;
  color: #333;
  background-color: #09f;
}

#sidebar-wrapper a {
  padding: 0.875rem 1.25rem;
  width: 100%;
  display:block;
  font-size: 1.2rem;
  background-color: #19222a;
  color: white;
}

#sidebar-wrapper .list-group {
  width: 15rem;
  background-color: #19222a;
  color: #white;
}

#sidebar-wrapper .list-group button{
    color: white;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;

  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

.dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  border: none;
  color: white;
  background-color: #19222a;
  width:100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;

}

/* Style the buttons that are used to open the tab content */
.tab button {

  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.clockdate-wrapper {
    background-color: #333;
    padding:25px;
    max-width:350px;
    width:100%;
    text-align:center;
    border-radius:5px;
    margin:0 auto;
    margin-top:15%;
}
#clock{
    background-color:#333;
    font-family: sans-serif;
    font-size:60px;
    text-shadow:0px 0px 1px #fff;
    color:#fff;
}
#clock span {
    color:#888;
    text-shadow:0px 0px 1px #333;
    font-size:30px;
    position:relative;
    top:-27px;
    left:-10px;
}
#date {
    letter-spacing:10px;
    font-size:14px;
    font-family:arial,sans-serif;
    color:#fff;
}

table {
    width:100%;
}

table td.shrink {
    white-space:nowrap
}
table td.expand {
    width: 99%
}
#card-register{
    border-style: solid;
    border-color:#ff9900;
    background-color: none;
}
.card-header{
  background-color: #ff9900;
  text-align: center;

}
.card input{
    margin-top: 10%;
    border-width: 2px;
    border-style: solid;
    border-color:#ff9900;
    padding-top: 8%;
    padding-bottom: 8%;
    border-radius: 10px;
}
#login{
    margin-top: 4%;
    background-color:#ff9900;

     }
.position-checbkoxes{
  color: black;
}
#twitter{
  
}