
            html, body {
                background-color: #E1E2E2;
                color: #636b6f;
                font-family: 'Nunito', sans-serif;
                font-weight: 200;
                height: 100vh;
                margin: 0;
            }

            .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
                
            }
            .navbar {
                background-color: #929D9E;
            }
            .registerButton {
                background-color: #F3E367;
            }
            .card {
                  border-style: solid;
                  border-color: grey;
                  border-style: solid;
              }
            .te {
                    font-family: "Lucida Console", Monaco, monospace;
                    font-size: 25px;
                    letter-spacing: 4.2px;
                    word-spacing: -5px;
                    color: #000000;
                    font-weight: 400;
                    text-decoration: none;
                    font-style: normal;
                    font-variant: normal;
                    text-transform: none;
                    }
            }